<!DOCTYPE html>
<html>
<head>
	<title>urbanpromisetutorportal.com</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style = "color: #663399;font-family: Pluto 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="/static/logo.png" width = "80" height = "80" alt="Logo">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav" style = "color:black">
					<li class="nav-item active">
						<a class="nav-link" href="/signin">Home <span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/about">About Us</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/signin" >View Students</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/tutor_requests">View Student Requests <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/tutor_avail">My Availability <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/tutor_add_session">Add a Session <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/tutor_remove_session">Remove a Session <span class="sr-only">(current)</span></a>
					</li>
                    <!-- <li class="nav-item"> -->
						<!-- <a class="nav-link" href = "/requesttutor" >Request Tutor</a> -->
					<!-- </li> -->
                    <li class="nav-item">
						<a class="nav-link" href = "/logout" >Log Out</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>

    <!-- Page content -->
    <div class="container " align="center" style="text-align: center;">
        <h2>Add tutoring sessions</h2>
        <p>Propose a new session with corresponding course name and time slot</p>
    </div>

    <div class = "container-fluid, header">
      <form action = "/send_proposed_session" method = "post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class ="mb-3">
        <label for="days"><strong>Course Day</strong></label>
        <select class="form-select" name="day">
          <option disabled selected>Course Day</option>
          {% for day in days %}
          <option value="{{day}}">{{day}}</option>
          {% endfor %}
        </select>
      </div>
        <!-- <tr></tr> -->
        <div class ="mb-3">
        <label for="st"><strong>Start Time:</strong></label>
        <select class="form-select" name="st">
          <option disabled selected>Start Time</option>
          {% for startday in st %}
          <option value="{{startday}}">{{startday.replace('_',' ')}}</option>
          {% endfor %}
        </select>
      </div>
      <div class ="mb-3">
        <label for="et"><strong>End Time:</strong></label>
        <select class="form-select" name="et">
          <option disabled selected>End Time</option>
          {% for endday in et %}
          <option value="{{endday}}">{{endday.replace('_',' ')}}</option>
          {% endfor %}
        </select>
      </div>
      <div class = "mb-3">
        <label for="course_name"><strong>Course Name</strong></label>
        <select class="form-select" name="course">
          <option disabled selected>Course Name</option>
          {% for cn in course_name %}
          <option value="{{cn}}">{{cn.replace('\n','').replace('_',' ')}}</option>
          {% endfor %}
          <option value="other">OTHER</option>
        </select>
        <br>
        <input type="text" name="other_choice" placeholder="Enter your own choice">
        <br><br>
      </div>
        <td>
          <input type="submit" value="Submit">
        </td>

      </form>
    </div>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <script>
          alert('{{ message }}');
       </script>
        {% endfor %}
      {% endif %}
    {%endwith%}

    <script>
        var data = course_names
        window.onload = function() {
            var course_selection = document.getElementById("course_listings");
            for (var x in data) {
                course_selection.options[course_selection.options.length] = new Option(x, x)
            }
        }
    </script>
  </body>
</html>
